<div class="container">
    <div class="m-3 p-3 bg-light">
        <div class="bg-pink">
            <h2>{{wrapper.title}}</h2>
        </div>
        <div *ngFor="let card of cardList">
            <div class="collectionContainer">
                <app-card [card]="card"></app-card>
            </div>              
        </div>
        <!-- <button [hidden]="!this.user.connected" (click)="addToCart(project)">Add to project</button> -->
        <input type="text" [name]="newTitle" class="">
    <button (click)="addTask(newTitle, wrapper)">Ajouter une tâche</button>
    </div>
</div>