
:root {
  --sidebar-width: 300px;  // <- already exists
  --sidebar-collapsed-width: 20px;  // <- we define a new one
}
:host {
  height: 100vh;
  
  // by default
  width: var(--sidebar-collapsed-width);

  &.is-expanded {
    width: var(--sidebar-width);
  }
  
  transition: width 300ms cubic-bezier(.02,.68,.63,.98);

  // rest of styles ...
}
.toggle-button {
  display: flex;

  align-items: center;
  justify-content: center;

  $size: 25px;
  width: $size;
  height: $size;
  margin: 0;
  padding: 0;

  position: absolute;
  top: 48px;
  right: calc($size / -2) - 2px;

  border: 1px solid gray;
  border-radius: 50%;

  background-color: white;

  cursor: pointer;

  &:hover {
    border: 2px solid rgb(36, 82, 231);
  }

  &.is-flipped {
    transform: rotate(-180deg);
  }

  mat-icon {
    font-size: 1.5em;

    width: fit-content;
    height: fit-content;
  }
  
}
.sidenav-body-container {
  overflow-y: auto;

  height: 100%;

  padding: 16px;

  box-sizing: border-box;
}
.sidenav-body {
  width: 100px;

  overflow-x: hidden;
}